.list-item-container {
 display: flex;
 padding: 8px;
 justify-content: left;
 align-items: left;
 color: #4BA3BB;  
}

.list-item-container:hover {
	color:white !important;
	background:blue;
	cursor: pointer;
	padding: 8px;
	margin: 5px 0px;
	border-radius: 5px;
}

.center {
 padding-left: 8px;
 padding-top: 5px;
}
.left {
 display: flex;
 justify-content: right;
}
.thumbnail {
 width: 25px;
 height:25px;
}

