.search-container input {
 height: 32px;
 width: 93%;
 padding-left: 24px;
 background: url("https://static.thenounproject.com/png/101791-200.png") no-repeat left;
 background-size: 15px;
 background-position-x: 5px;
 border: 1px solid #4BA3BB !important;
 border-radius: 5px;
 color: #4BA3BB !important;
}

.search-container input:focus {
  outline: 0;
}

.disable-input {
  background-color: #D0D0D0 !important;
  cursor: not-allowed;
}