.main-component {
  display: grid;
  grid-template-columns: .5fr 1fr .25fr 1fr .5fr;
  grid-auto-rows: minmax(100px, auto);
  column-gap: 10px;
  row-gap: 15px;
  padding: 5px 20px ;
}

.heading {
  grid-column-start: 1;
  grid-column-end: 6;  
}

.app-header {
  background-image: linear-gradient(#1097ca,#15b2d1);
  height: 45px;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 3px 6px #e3e3e3;
}

.header-text {
  font-weight: bold;
  font-size: 16px;
  color: #1F2778;
  padding-top: 5px;
}


@media (min-width: 400px) {
  .selected-items {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}

@media (min-width: 800px) {
  .selected-items {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (min-width: 400px) {
  .search-section  {
    grid-column-start: 1;
    grid-column-end: 6;
  }
}

@media (min-width: 800px) {
  .search-section  {
    grid-column-start: 4;
    grid-column-end: 5;
  }
}

.counter{
  background: linear-gradient(50deg, #1E12D9 0%, #9966ff 45%, #D082E8 100%);
  color:white;
  border: 1px solid #4BA3BB;
  border-radius: 5px;
  width: 50px;
  height: 13px;
  text-align: center;
  padding: 4px 0;
  margin: 20px 0px;
}

.content{
  margin-bottom: 20px;
}

.title {
  font-weight: bold;
  font-size: 18px;
  color: #1F2778;  
}

.search-result {
  margin-top: 10px;
  border: 1px solid #eaeaea;
  border-radius: 2px;
}

.next-button {
  color: white;
  background: #007aff;
  margin-top : 10px;
  border-radius: 5px;
  border : none;
  height: 32px;
  width: 100%;
}

